{% extends "ChocoStop/base.html" %}
{% load static %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block subheaders %}
<li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'ChocoStop:product_list' %}">All</a></li>
{% for c in categories %}
<li class="nav-item"><a class="nav-link" href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
{% endfor %}
{% endblock %}

{% block content %}
<!------------ Content -------------->
<div class="container">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for product in products %}
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <a  href="{{ product.get_absolute_url }}"> <img class="card-img-top"
                     src="{% if product.image.url %}{{ product.image.url }}{%else %}{% static 'img/no_image.png' %}{% endif %}"
                     alt="..."
                />
                </a>
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <a class="fw-bolder" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        <br>
                        ${{ product.price }}
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="{{ product.get_absolute_url_for_cart}}" >Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}